.order-summary-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.order-summary {
    margin: auto;
    width: fit-content;
}

.order-summary-image {
    object-fit: cover;
    height: 200px;
    width: 200px;
    margin-right: 10px;
}

.grand-total {
    float: right;
}

.order-summary-image-photo-container {
    margin: auto;
}