.item {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
}

.category {
    margin: 5px;
    background: transparent;
    border: none;
    font-size: 30px;
}

.category:hover {
    color: #0c6efd;
}

.category-container {
    text-align: center;
}

.active {
    color: #0c6efd;
}

.homepage-container {
    padding-top: 20px;
}