.cart-container {
    text-align: center;
}

.cart-image {
    height: 200px;
    width: 200px;
    object-fit: cover;

}

.cart-total,
.cart-items {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.empty-cart-image {
    width: 400px;
    height: inherit;
    object-fit: cover;
}

.empty-cart-image-container {
    height: 250px;
    width: 400px;
}

.your-cart-empty {
    z-index: 1;
}

.cart-item-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.col-container {
    position: relative;
}

.overall-cart-item-container,
.shopping-cart-header {
    margin-left: 20px;
}

.cart-subtotal {
    position: fixed;
    top: 20%;
    right: 0;
    text-align: center;
}

.cart-button-description-container {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

.delete-button {
    background: transparent;
    border: none;
}

.delete-button:hover {
    color: grey;
}

.cart-description {
    display: flex;
    justify-content: space-between;
}

.button-select {
    width: fit-content;
    display: flex;
    align-items: center;
}

.separator {
    border-left: 1px solid grey;
    margin-left: 15px;
    margin-right: 5px;
    height: 20px;
    /* height: 125px; */
}

.cart-category-container {
    float: left;
}

.subtotal-text {
    font-size: 25px;
}

.proceed-to-checkout {
    background-color: #2b3043;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #2b3043;
    font-weight: 500;
}

.item-link {
    text-decoration: none;
    color: black;
}