.cart-container {
    text-align: center;
}

.cart-image {
    height: 200px;
    width: 200px;
    object-fit: cover;
    
}

.cart-total,
.cart-items {
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.empty-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.cart-item-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

}

.col-container {
    position: relative;
    margin-left: 20px;
}

.cart-subtotal {
    position: fixed;
    top: 20%;
    right: 0;
    text-align: center;
}

.cart-button-description-container {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

.item-dropdown {
    margin-right: 5px;
}

.delete-button-container {
    margin-left: 5px;
}

.delete-button {
    background: transparent;
    border: none;
}

.delete-button:hover {
    color: grey;
}

.cart-description {
    display: flex;
    justify-content: space-between;
}

.button-select {
    float: left;
}

.cart-category-container {
    float: left;
}

.subtotal-text {
    font-size: 25px;
}

.proceed-to-checkout {
    background-color: #2b3043;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid #2b3043;
    font-weight: 500;
}
