.logout-button, .account-button, .cart-button {
    background: transparent;
    border: none;
}

.logout-button:hover, .account-button:hover, .link:hover, .cart-button:hover {
    color: grey !important;
}

.link {
    color: black !important;
    text-decoration: none !important;
}