.checkout-container {
    /* display: flex;
    justify-items: center;
    align-items: center; */
    text-align: center;
    /* height: 85vh; */
    margin: 5px;
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.number-input[type=number] {
    -moz-appearance: textfield;
}